body
{
    padding:0;
    margin:0;
    background-color: steelblue;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}
section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
div{
    width:150px;
    height:150px;
    background-color:white;
    border:3px solid black;
    margin:1rem;
    cursor:pointer;
}
.droppable
{
    background-color: rgba(0, 0, 0,0.7);
    border:3px dashed white;
}
img{
    width:150px;
    height:150px;
}
@media(max-width:375px)
{
    div{
        width:120px;
        height:120px;
        margin:0.3rem;
    }
    img{
        width:120px;
        height:120px;
    }
}